.App {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.Title {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Title img {
  width: 100%;
  height: auto;
  margin-top: 10%;
}

.Titelhead {
  margin: 20% 5% 20% 65%;
  font-size: 35px;
  color: #739dc6;
  line-height: 40px;
  position: absolute;
}

.Titeltext {
  font-size: 25px;
  margin: 5% 0 0 0;
  color: black;
  line-height: 30px;
  max-width: 550px;
  align-self: center;
}

.Boxes {
  margin: 7% 10% 0 10%;
  display: flex;
  align-items: baseline;
}

.Infobox {
  flex: 10%;
  flex-direction: column;
  padding: 4%;
}

.Infobox p {
  margin-bottom: 30%;
  line-height: 18px;
}

.Infobox img {
  width: 100%;
  height: auto;
  margin-bottom: 10%;
}

.Headertext {
  padding: 5%;
  align-self: flex-end;
  margin-top: 5%;
}

.Question {
  flex: 100%;
  margin-left: 33%;
}

.NavStart {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 32.25% 0 32.25%;
}

.Work,
.Study {
  padding: 2%;
  display: flex;
}

.Study img,
.Work img {
  width: 100%;
  height: auto;
}

.Study a,
.Work a {
  display: flex;
  flex-direction: column;
  padding: 10% 5% 5% 5%;
}

.Study a:hover,
.Work a:hover {
  background: #dbe5f1;
}

.Study span,
.Work span {
  flex: 100%;
  color: #6492b8;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  line-height: 35px;
  text-align: -moz-center;
  text-align: -webkit-center;
  text-align: -ms-center;
}

@media screen and (max-width: 700px) {
  .App {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .NavStart {
    margin: 0 10% 0 10%;
    flex: 100%;
    align-self: center;
    flex-direction: column;
  }

  .Study,
  .Work {
    flex-direction: column;
    align-items: center;
    padding: 5%;
  }

  .Study img,
  .Work img {
    max-width: 200px;
    max-height: auto;
    align-self: center;
  }

  .Study p,
  .Work p {
    width: auto;
  }

  .Boxes {
    flex-direction: column;
  }

  .Question {
    margin-left: 5%;
  }

  .Titelhead,
  .Titeltext {
    margin: 20% 5% 5% 5%;
    align-self: center;
  }

  .Infobox p {
    margin-bottom: 10%;
  }
  .Infobox img {
    margin-bottom: 0;
  }
  .Question {
    margin: 5% 5% 5% 10%;
  }
}
